@use '../../scss/structure.scss';


.projects{
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;
    // background-color: aliceblue;
    width: 80%;
    margin: 0 auto;

    
    &-title{
        font-family: title;
        font-weight: 500;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 70px;
        font-size: 40px;
        position: relative;
        left: -25px;
        letter-spacing: 3px;
        color: structure.$rd;

    }
    &-container{
        margin: 0 auto;
        width: 61%;
        position: relative;
        transition: 0.5s;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    &-flex{
    
    }
}

@media(max-width: 1350px){
   

}